CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out
.vs
.ninja_deps
.ninja_log
build.ninja
minigolf.exe
minigolf.ilk
minigolf.pdb
rules.ninja
*.vcxproj.filters
*.vcxproj.user
BulletCollision.dir
BulletDynamics.dir
Debug
*.a
*.swp
scripts/a.out
Release
enet.dir
scripts/*.vcxproj
scripts/*.model
src/*.o
src/*.d
minigolf
libraries/*.o
libraries/*.d
libraries/GLFW/*.o
libraries/GLFW/*.d
libraries/imgui/*.o
libraries/imgui/*.d
log.txt
libs.o
minigolf.data
minigolf.html
minigolf.data
minigolf.js
minigolf.wasm
minigolf.worker.js

*.d

*.o
*.fdb
src/membedder/membedded_files.h
Makefile
.vscode
build/android/OpenGolf/app/src/main/assets/data.zip
src/common/data_zip.h
storage.js
